<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" href="{% static 'services.css' %}">
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Make Me Up Maria</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
       
    
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'aboutme' %}">About</a></li>
            <li><a href="{% url 'contactme' %}">Contact</a></li>
            <li><a href="{% url 'photos' %}">Photos</a></li>
            <li><a href="{% url 'faqs' %}">FAQ's</a></li>
            <li><a href="https://pocketsuite.io/book/make-me-up-maria-llc" target='_blank'>Schedule an Appointment</a></li>
        </ul><br><br>

        <br>
        <div class="center">
            {% load static %} <img src="{% static "media/logo1.jpg" class="center" %}" alt="home" />
        </div><br>

        <div class="topcolumn">
            <h1>Make Up</h1>
        </div><br>
    
        <div class="topcolumn">
            <h1>Brows</h1>
        </div><br>

        <div class="topcolumn">
            <h1>Body Sculpting</h1>
        </div>

        <div class="row">

        <div class="column"><p><b>Wood Therapy</b></p>
            <div class="font">
            <p>Wood Therapy is a technique that employs purposely shaped wood pieces to sculpt the body in desired areas, allowing the body sculptor to move and drain accumulated adipose tissue. The instruments intensify the breakdown of fat and fibrous cellulite.</p>

            <p>Wood Therapy helps change how our body functions by activating the entire lymphatic system. Wood therapy also stimulates blood circulation and lymph drainage and helpts to accelerate metabolism, therefore it's effects last longer than therapy itself.</p>
            
            <p><b>Benefits</b><br>
                Stimulation of the Lymphatic system<br>
                Elimination of Toxins<br>
                Acceleration of Metabolism<br>
                Cellulite Reduction<br>
            </p>
        
        </div>
        </div>
            
        <div class="column"><p><b>Ultrsound Cavitation</b></p>
            <div class="font">
            <p>Non-invasive body sculpting treatment used to reduce fat circumference by using ultrasound waves to break down excess fat.</p>
            
            <p>The ultrasonic energy is delivered through the skin surface and works by breaking down deep stubborn local fat tissue, which is then disposed through the lymphatic and urinate system.</p>

            <p>The ultrasound energy is designed to target fatty tissues beneath the skin only and does not affect the blood vessels, nerves, and connective tissues.</p><br>
            
            <p><b>Benefits:</b><br>
                Volume Reduction of Fat<br>
                Body Shaping and Contouring<br>
                Toning<br>
                Cellulite Reduction<br><br></p>
            
            <p>This treatment is painless. A tingling sensation or buzzing in the ear will be felt during the treatment. Some heat sensation may also be Gely during the treatment but no pain. Slight redness of the skin will occur but quickly disappears.</p>

            <p><b>THIS IS NOT A TREATMENT FOR WEIGHT LOSS</b></p>
            <p>It is a method for reshaping and toning the body. It is intended to reduce localized fat tissues which are resistant to exercise around the abdomen (love handle) buttocks and thighs (saddle bags) that wont easily go away with simple dieting and exercise.</p>
            </div>
        </div>

        
        <div class="column"><p><b>Radio Frequency Skin Tightening</b><br></p>
            <div class="font">
            <p>It is a procedure that involves the use of radiofrequency energy device to heat up and tighten the tissues to boost blood flow and stimulate collagen production</p>

            <p>The RG Energy heats up the skin without damaging it, this stimulates and triggers collagen production, which improves skin tones and elasticity.</p>

            <p>We can treat areas with loose skin on the stomach, hips, arms, and inner thighs. It reduces cellulite and tightens saggy skin caused by weight loss or pregnancy.</p>

            <p>Common for slight redness and/or dry skin to occur on treated areas which will generally last a few days.</p>

            <p>People with electrical devices e.g., peacemakers or metal implants (metal hip joints, heart valves, or dental plates) should not be treated because RF current flowing through the body may interfere with these devices or heat up metal implants, which coule be dangerous.</p>
            </div>
        </div>
    </div>

    <div class="row">
    

        <div class="column"><p><b>Vaccum Therapy</b></p>
            <div class="font">
            <p>It is a treatment that causes an influence over the skin and deploy located tissues via negative pressure (suctioning) which causes capillary vessels to widen, imporve blood flow, and actu ages metabolic process in cells and tissues.</p>

            <p>This treatment helps by loosening soft tissues and connective tissues as well as moving stagnant lymph and increasing lymphatic flow and circulation. This also contributes to an increase in the release of fat cells when combined with cavitation.</p>

            <p><b>Benefits:</b><br>
            Helps Fat Release<br>
            Lymph Drainage Treatments<br>
            Anti Cellulite Massage</p>

            <p>This treatment is not painful, however, you will have a strange sensation unlike anything you have ever felt before.</p>
            </div>            
        </div>

        <div class="column">
            <div class="font">
            </div>
        </div>
            
        <div class="column"><p><b>Laser Lipo</b></p>
            <div class="font">
            <p>Laser lipolysis is a minimally invasive procedure that uses heat from fiber-optic lasers at various wavelengths to melt body fat. This is a different process than liposuction, which involves removing fat from the body using vaccum suction.</p>
            
            <p>Laser lipolysis can be effective on its own for fat removal. However, intergrating laser lipolysis with traditional liposuction generally produces the best results for tightening and shrinking skin..... This is especially true for individuals who wnat to lose abdomincal fat, but also need the skin to retract.</p><br><br>
            
            </div>
        </div>


           
            
        </div>
    </div>

    
    </div>
        
        
        
        <script src="" async defer></script>
    </body>

    <div class="footer">
        Powered by: Vanessa
    </div>
</html>
